<aside class="left-sidebar" data-sidebarbg="skin6">
    <div class="scroll-sidebar" data-sidebarbg="skin6">
        <nav class="sidebar-nav">
            <ul id="sidebarnav">
                <li id="indexSidebar" class="sidebar-item"> <a class="sidebar-link" onclick="_Admin.traerVista('index')"
                        href="javascript:void(0)" aria-expanded="false"><i class="fas fa-home"></i><span
                            class="hide-menu">Inicio</span></a></li>
                <li class="list-divider"></li>
                <li class="nav-small-cap"><span class="hide-menu">Administracion</span></li>
                <li id="clientesSidebar" class="sidebar-item"> <a class="sidebar-link"
                        onclick="_Admin.traerVista('clientes')" href="javascript:void(0)" aria-expanded="false"><i
                            class="fas fa-users"></i><span class="hide-menu">Clientes</span></a>
                </li>
                <li id="usuariosSidebar" class="sidebar-item"> <a class="sidebar-link"
                        onclick="_Admin.traerVista('usuarios')" href="javascript:void(0)" aria-expanded="false"><i
                            class="fas fa-users"></i><span class="hide-menu">Usuarios</span></a>
                </li>
                <li id="permisosSidebar" class="sidebar-item"> <a class="sidebar-link"
                        onclick="_Admin.traerVista('permisos')" href="javascript:void(0)" aria-expanded="false"><i
                            class="fas fa-shield-alt"></i><span class="hide-menu">Permisos</span></a>
                </li>
                <li id="modulosSidebar" class="sidebar-item"> <a class="sidebar-link"
                        onclick="_Admin.traerVista('modulos')" href="javascript:void(0)" aria-expanded="false"><i
                            class="fas fa-folder-open"></i><span class="hide-menu">Modulos</span></a></li>
                <li id="modulospadreSidebar" class="sidebar-item"> <a class="sidebar-link"
                        onclick="_Admin.traerVista('modulos_padre')" href="javascript:void(0)" aria-expanded="false"><i
                            class="fas fa-folder"></i><span class="hide-menu">Modulos
                            Padre</span></a></li>
                <li class="nav-small-cap"><span class="hide-menu">Social Network</span></li>
            </ul>
        </nav>
    </div>
</aside>